body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: #212121; 
}

a{
    text-decoration: none;
    color: #03A9F4;
}

a:visited{
    text-decoration: none;
    color: #03A9F4;
}

.mov-notfound-notcut-processed{
    background: url("../img/mov-notfound-notcut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.mov-notfound-notcut-notprocessed{
    background: url("../img/mov-notfound-notcut-notprocessed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.mov-notfound-cut-processed{
    background: url("../img/mov-notfound-cut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.mov-found-notcut-processed{
    background: url("../img/mov-found-notcut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.mov-found-notcut-notprocessed{
    background: url("../img/mov-found-notcut-notprocessed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.mov-found-cut-processed{
    background: url("../img/mov-found-cut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}


.ep-notfound-notcut-processed{
    background: url("../img/ep-notfound-notcut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.ep-notfound-notcut-notprocessed{
    background: url("../img/ep-notfound-notcut-notprocessed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.ep-notfound-cut-processed{
    background: url("../img/ep-notfound-cut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.ep-found-notcut-processed{
    background: url("../img/ep-found-notcut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.ep-found-notcut-notprocessed{
    background: url("../img/ep-found-notcut-notprocessed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.ep-found-cut-processed{
    background: url("../img/ep-found-cut-processed.png");
    background-repeat: no-repeat;
    padding-left: 120px;
    height: 40px;
}

.episodeicon{
    background: url("../img/episode.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 40px;
}

.movieicon{
    background: url("../img/movie.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 40px;
}

.foundicon{
    background: url("../img/found.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 40px;
}

.missingicon{
    background: url("../img/missing.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 40px;
}

.cuticon{
    background: url("../img/cut.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 40px;
}

.processedicon{
    background: url("../img/processed.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 40px;
}

.notcut{
    padding-left: 30px;
    height: 40px;
}

.evenrow{
    padding-left: 120px;
    padding-top: 3px;
    color: #03A9F4;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    height: 45px;
}

.oddrow{
    padding-left: 120px;
    padding-top: 3px;
    color: #0288D1;
    margin-bottom: 5px;
    background-color: #fafafa;
    height: 45px;
}

.container{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.filename{
    color: #757575;
    font-size: 10pt;
}

.background{
    width: 55%;
    min-width: 800px;
    margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  min-width: 300px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.editinput{
    border: 0px solid black;
    background-color: #e0e0e0;
    width: 100%;
}

.editlabel{
    display: block;
}

.button{
    background-color: #03A9F4;
    padding: 3px;
    border: 1px solid #0288D1;
    margin-bottom: 10px;
    border-radius: 3px;
}

.button:hover{
    background-color: #0288D1;
    cursor: pointer;
}