<html>

<head>
    <script src="js/template/tmpl.min.js"></script>
    <script src="js/my.js"></script>
    <link rel="stylesheet" href="css/my.css" />
</head>

<body>
    <div class="background">
        <h2>OTR Filemanager</h2>
        <div id="status"></div>
        <h3>Episodes</h3>
        <div id="container" class="container">
        </div>
        <h3>Movies</h3>
        <span class="button" onclick="processmovies()">Process all Movies</span>
        <div id="moviecontainer" class="container">
        </div>
    </div>
    <div id="editpopup" class="overlay">
        <div id="editcontent" class="popup">
            <label for="editshow" class="editlabel">Show</label>
            <input id="editshow" type="text" class="editinput" /><br />
            <label for="editseason" class="editlabel">Season</label>
            <input id="editseason" type="text" class="editinput" /><br />
            <label for="editname" class="editlabel">Name</label>
            <input id="editname" type="text" class="editinput" /><br />
            <label for="editnumber" class="editlabel">Number</label>
            <input id="editnumber" type="text" class="editinput" /><br />
            <a id="cancelpopup" href="#" style="float:left">cancel</a><a style="float:right" id="closepopup" href="#" onclick="applyepisodeedits()">save</a>
        </div>
    </div>
    <div id="movieedit" class="overlay">
        <div id="movieeditcontent" class="popup">
            <label for="editmoviename" class="editlabel">Name</label>
            <input id="editmoviename" type="text" class="editinput" />
            <a id="cancelmoviepopup" href="#">cancel</a><a id="closemoviepopup" href="#" onclick="applymovieedits()">close me</a>
        </div>
    </div>
    <script type="text/x-tmpl" id="tmpl-episode">
        <a href="#editpopup" onclick="filledit({%=o.index%})">
            <div class="{%=o.class %}" title="{%=o.name%}" id="ep-{%=o.index%}">
                <div class="episodeicon" title="Episode" /> {% if(o.season != "?"){ %}
                <div class="foundicon" title="Found a match" /> {% } else{ %}
                <div class="missingicon" title="Info missing" /> {% } %} {% if(o.cut === true){ %}
                <div class="cuticon" title="Cut using a cutlist" /> {% }else{ %}
                <div class="notcut" /> {% } %} {% if(o.processed === true){ %}
                <div class="processedicon" title="File was processed" />{% }else{ %}
                <div class="notcut" /> {% } %} {%=o.show%} - {%=o.season%}x{%=o.number%} - {%=o.name%} ({%=o.aired%})
                <br />
                <span class="filename">{%=o.file%}</span></div>
            </div>
        </a>
    </script>
    <script type="text/x-tmpl" id="tmpl-movie">
        <a href="#movieedit" onclick="fillmovieedit({%=o.index%})">
            <div class="{%=o.class %}" title="{%=o.name%}" id="mov-{%=o.index%}">
                <div class="movieicon" title="Movie" /> {% if(o.season != "?"){ %}
                <div class="foundicon" title="Found a match" /> {% } else{ %}
                <div class="missingicon" title="Info missing" /> {% } %} {% if(o.cut === true){ %}
                <div class="cuticon" title="Cut using a cutlist" /> {% }else{ %}
                <div class="notcut" /> {% } %} {% if(o.processed === true){ %}
                <div class="processedicon" title="File was processed" />{% }else{ %}
                <div class="notcut" /> {% } %} {%=o.name%} ({%=o.released%})
                <br />
                <span class="filename">{%=o.file%}</span></div>
            </div>
        </a>
    </script>
    <script type="text/javascript">
        window.onload = function () {
            var infos = fetch("/api/keyfiles")
                .then((resp) => resp.json())
                .then(printInfos);
        }
    </script>
</body>

</html>